@if (Context.User.Identity.IsAuthenticated == false){
    <li class="nav-item">
        <a class="nav-link text-dark" 
            asp-controller="Usuarios" 
            asp-action="Login">
            Perfil Usuario
        </a>
    </li>
}else{
    <li class="nav-item">
        <a class="nav-link text-dark"
            asp-controller="Usuarios"
            asp-action="LogOut">
            Log Out 
           
        </a>
        <a class="nav-link text-dark"
            asp-controller="Usuarios"
            asp-action="PerfilUsuario">
            <span style="color:salmon">
                @Context.User.Identity.Name
            </span>
        </a>
    </li>
}