@model List<Libro> //Le decimos que el modelo va a ser una lista de libros

@{
    ViewData["Title"] = "Carrito";
}

<h1>CARRITO</h1>

 @if(Context.Session.GetObject<List<int>>("CARRITO") == null && Model == null)
 {

     <h2>
                    AMIGO, LA DE LEER SE LA SABE? ADQUIERA ALGUN LIBRO ANTES DE VENIR AQUI!
     </h2>

 }
 else
 {
     <section class="h-100 h-custom" style="background-color:aliceblue;">
            <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
            
                  <hr class="my-4">
                  @foreach (Libro libro in Model)
                  {
                      <div class="row mb-4 d-flex justify-content-between align-items-center">
                    <div class="col-md-2 col-lg-2 col-xl-2">
                      <img
                        src="@libro.Portada"
                        class="img-fluid rounded-3" alt="zapatilla imagen">
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">
                      
                      <h6 class="text-black mb-0">@libro.Titulo</h6>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                      <button class="btn btn-link px-2"
                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                        <i class="fas fa-minus"></i>
                      </button>

                     

                      <button class="btn btn-link px-2"
                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                      <h6 class="mb-0">@libro.Precio</h6>
                    </div>
                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                      <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
                    </div>
                                                

                        <a href="#!" class="text-body">
                             <i class="fas fa-long-arrow-alt-left me-2">
                                     <a class="btn btn-danger" asp-action="Carrito" asp-controller="Libros" asp-route-idlibro="@libro.IdLibro">Borrar</a>
                        </a>
                  </div>
               
                  }
                  
                  
                       <a class="btn btn-info" asp-action="Pedidos" asp-controller="Tienda">Realizar Pedido</a>
                 
                  
                </div>
              </div>
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
        </section>
 }